[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests = "*"

[packages]
numpy = "*"
python-socketio = "*"
eventlet = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
